table {
  border-collapse: collapse;
  border: 1px solid black;
}

table td {
  padding: 5px;
  border: 1px solid black;
}

table th {
  border: 1px solid black;
  background: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}
