table {
  border: 1px solid black;
  margin-right: 100px;
  border-collapse: collapse;
}

table td {
  padding: 5px;
  border: 1px solid black;
}

table th {
  border: 1px solid black;
  background: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}

.tabele {
  display: flex;
  flex-direction: row;
}

.tabele {
  display: flex;
  flex-direction: column;
}

.good {
  color: yellowgreen;
}

.bad {
  color: crimson;
}
